@model BookStore.Models.Book

@{
    ViewData["Title"] = "Buy";
}

<!DOCTYPE html>
<html>
<head>
    <title>Purchase</title>
</head>
<body>
    <div>
        <h3>Purchase</h3>
        <p>Fill in the following fields</p>
        <form method="post">
            <input type="hidden" value="@ViewBag.BookId" name="BookId" />
            <table>
                <tr>
                    <td>Name:</td>
                    <td><input type="text" name="User" /> </td>
                </tr>
                <tr>
                    <td>Address:</td>
                    <td><input type="text" name="Address" /></td>
                </tr>
                <tr>
                    <td>Phone:</td>
                    <td><input type="text" name="ContactPhone" /></td>
                </tr>
                <tr><td><input type="submit" value="Send" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>
